button {
  background: none;
}

#tree {
  margin: 1rem;
  height: 500px;
  border: solid 1px black;
  width: 500px;
  display: flex;
  justify-content: start;
  align-items: start;
  overflow: scroll;
}

#tree ul {
  margin: 0.5rem 1rem;
  border-bottom: solid 1px black;
}

#tree ul li {
  margin: 0.5rem 1rem;
}

.item-name {
  cursor: pointer;
}
